In [7]:
from datascience import *
import numpy as np
# import glob
import pandas as pd
% matplotlib inline

In [15]:
dispatch = Table.read_table('temp.csv')
wra = Table.read_table('../WRA/combined.csv')

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [16]:
dispatch

Last Name | First Name | Middle Name | Age  | Date of Departure | Camp Name  | Destination              | Occupation            | Gender | Marital Status | Source               | Notes
Yoshihara | Takeo      | nan         | nan  | nan               | Tule Lake  | Rupert, Idaho            | nan                   | nan    | nan            | Tulean Dispatch 5.1b | Also mentioned in TD 5.4
Honda     | Noboru     | nan         | nan  | nan               | Tule Lake  | New York, New York       | Student               | nan    | nan            | Tulean Dispatch 5.2  | Rochdale Institute
Sakamoto  | Fumi       | nan         | nan  | nan               | Tule Lake  | New York, New York       | Student               | nan    | nan            | Tulean Dispatch 5.2  | Rochdale Institute; a letter of hers is conveyed in TD 5.5
Ota       | Robert     | nan         | nan  | nan               | Tule Lake  | New York, New York       | Student               | nan    | nan            | Tulean Dispatch 5.2  | Rochdale Institute
Kajikawa  | Eideo      | nan         | nan  | nan               | Tule Lake  | Camp Shelby, Mississippi | Military              | nan    | nan            | Tulean Dispatch 5.2  | nan
Ishihara  | Peggy      | nan         | nan  | nan               | Gila River | Chicago, Illinois        | Factory               | nan    | nan            | Tulean Dispatch 5.2  | nan
Sumida    | George     | nan         | nan  | nan               | Tule Lake  | Ann Arbor, Michigan      | Gas Station Attendant | nan    | nan            | Tulean Dispatch 5.2  | nan
Yanagawa  | Josie      | S.          | nan  | nan               | Tule Lake  | Camp Robinson, Arkansas  | nan                   | nan    | nan            | Tulean Dispatch 5.2  | nan
Furushiro | Midori     | nan         | nan  | March 22, 1943    | Tule Lake  | Caldwell, Idaho          | nan                   | nan    | nan            | Tulean Dispatch 5.2  | nan
Yamagiwa  | Yuri       | nan         | nan  | nan               | Tule Lake  | Palatine, Illinois       | nan                   | nan    | nan            | Tulean Dispatch 5.2  | nan
... (16 rows omitted)

In [17]:
wra.where('RELOCATION PROJECT', 'Tule Lake').where('LAST NAME', 'YOSHIHARA').where('FIRST NAME', 'TAKEO')

Unnamed: 0 | LAST NAME | FIRST NAME | MIDDLE INITIAL | RELOCATION PROJECT | ASSEMBLY CENTER | LAST PERMANENT ADDRESS | LAST PERMANENT ADDRESS STATE | LAST PERMANENT ADDRESS COUNTY | LAST PERMANENT ADDRESS POPULATION DENSITY | BIRTH PLACE OF PARENTS     | FATHERS OCCUPATION IN U.S.          | FATHERS OCCUPATION ABROAD  | TOTAL YEARS OF SCHOOLING IN JAPAN | YEARS OF SCHOOLING IN JAPAN | EDUCATIONAL DEGREES                     | YEAR OF FIRST ARRIVAL IN TERRITORIAL U.S. | TOTAL LENGTH OF TIME IN JAPAN | NUMBER OF TIMES IN JAPAN    | AGE AT TIME IN JAPAN | MILITARY AND NAVAL SERVICE, PUBLIC ASSISTANCE AND PENSIONS, PHYSICAL DEFECTS | INDIVIDUAL NUMBER | SEX AND MARITAL STATUS | RACE OF INDIVIDUAL AND SPOUSE  | YEAR OF BIRTH | BIRTH PLACE                 | ALIEN REGISTRATION NUMBER, SOCIAL SECURITY NUMBER AND JAPANESE LANGUAGE SCHOOL | HIGHEST GRADE COMPLETED OR GRADE ATTENDING | LANGUAGE                                         | RELIGION     | PRIMARY OCCUPATION | SECONDARY OCCUPATION | TERTIARY OCCUPATION | POTENTIAL OCCUPATION 1     | POTENTIAL OCCUPATION 2              | FILE NUMBER | BLANK 1
957        | YOSHIHARA | TAKEO      | nan            | Tule Lake          | Pinedale        | TACOMA, WASHINGTON     | Pacific States - Washington  | PIERCE                        | 25,000 - 999,999                          | Father=Japan, Mother=Japan | MANAGERIAL & OFFICIAL (EXCEPT FARM) | BLANK, UNKNOWN, NONE, DASH | NONE                              | NONE                        | BACHELORS-SOCIAL SCIENCES & MATHEMATICS | --                                        | NONE                          | NONE-- NOT ATTENDING SCHOOL | NEVER IN JAPAN       | MASKED VALUE                                                                 | 19414A            | MALE SINGLE            | INDIVIDUAL-JAPANESE; NO SPOUSE | 18            | Pacific States - Washington | HAS NEITHER A.R. NOR S. S. NUMBER AND HAS ATTENDED JAPANESE LANGUAGE SCHOOL    | COLLEGE 4 IN U.S.                          | JAPANESE SPEAKING; ENGLISH SPEAK, READ AND WRITE | MASKED VALUE | Retail Managers    | nan                  | nan                 | Social and Welfare Workers | Buyers and Department Heads, Stores | 414012      | 31171

In [9]:
def find_names(source, dest):
    for row in source.rows:
        print(row[1])
find_names(dispatch, wra)

Takeo
Noboru
Fumi
Robert
Eideo
Peggy
George
Josie
Midori
Yuri
Sumi
Joe
Yuri
Toko
Tom
Mrs. Tom
Mrs. Chiyo
Patsy
Minnie
Sumi
Esther
George
Mike
Ray
Don
Jean

In [18]:
dispatch = pd.read_csv('temp.csv')
wra = pd.read_csv('../WRA/combined.csv')

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
dispatch = dispatch.rename(columns={'Last Name': 'LAST NAME', 'First Name': 'FIRST NAME', 'Camp Name':'RELOCATION PROJECT'})

In [23]:
dispatch['LAST NAME'] = map(lambda x: x.upper(), dispatch['LAST NAME'])
dispatch['FIRST NAME'] = map(lambda x: x.upper(), dispatch['FIRST NAME'])

In [14]:
merged = pd.merge(dispatch, wra, on = ['LAST NAME', 'FIRST NAME', 'RELOCATION PROJECT'])
merged

Empty DataFrame
Columns: [LAST NAME, FIRST NAME, Middle Name, Age, Date of Departure, RELOCATION PROJECT, Destination, Occupation, Gender, Marital Status, Source, Notes, Unnamed: 0, MIDDLE INITIAL, ASSEMBLY CENTER, LAST PERMANENT ADDRESS, LAST PERMANENT ADDRESS STATE, LAST PERMANENT ADDRESS COUNTY, LAST PERMANENT ADDRESS POPULATION DENSITY, BIRTH PLACE OF PARENTS, FATHERS OCCUPATION IN U.S., FATHERS OCCUPATION ABROAD, TOTAL YEARS OF SCHOOLING IN JAPAN, YEARS OF SCHOOLING IN JAPAN, EDUCATIONAL DEGREES, YEAR OF FIRST ARRIVAL IN TERRITORIAL U.S., TOTAL LENGTH OF TIME IN JAPAN, NUMBER OF TIMES IN JAPAN, AGE AT TIME IN JAPAN, MILITARY AND NAVAL SERVICE, PUBLIC ASSISTANCE AND PENSIONS, PHYSICAL DEFECTS, INDIVIDUAL NUMBER, SEX AND MARITAL STATUS, RACE OF INDIVIDUAL AND SPOUSE, YEAR OF BIRTH, BIRTH PLACE, ALIEN REGISTRATION NUMBER, SOCIAL SECURITY NUMBER AND JAPANESE LANGUAGE SCHOOL, HIGHEST GRADE COMPLETED OR GRADE ATTENDING, LANGUAGE, RELIGION, PRIMARY OCCUPATION, SECONDARY OCCUPATION, TERTIARY OCCUPATION, POTENTIAL OCCUPATION 1, POTENTIAL OCCUPATION 2, FILE NUMBER, BLANK 1]
Index: []

[0 rows x 46 columns]