In [1]:
from datascience import *
import numpy as np
# import glob
import pandas as pd
% matplotlib inline

In [15]:
dispatch = Table.read_table('temp.csv')
wra = Table.read_table('../WRA/combined.csv')

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [16]:
dispatch

Last Name | First Name | Middle Name | Age  | Date of Departure | Camp Name  | Destination              | Occupation            | Gender | Marital Status | Source               | Notes
Yoshihara | Takeo      | nan         | nan  | nan               | Tule Lake  | Rupert, Idaho            | nan                   | nan    | nan            | Tulean Dispatch 5.1b | Also mentioned in TD 5.4
Honda     | Noboru     | nan         | nan  | nan               | Tule Lake  | New York, New York       | Student               | nan    | nan            | Tulean Dispatch 5.2  | Rochdale Institute
Sakamoto  | Fumi       | nan         | nan  | nan               | Tule Lake  | New York, New York       | Student               | nan    | nan            | Tulean Dispatch 5.2  | Rochdale Institute; a letter of hers is conveyed in TD 5.5
Ota       | Robert     | nan         | nan  | nan               | Tule Lake  | New York, New York       | Student               | nan    | nan            | Tulean Dispatch 5.2  | Rochdale Institute
Kajikawa  | Eideo      | nan         | nan  | nan               | Tule Lake  | Camp Shelby, Mississippi | Military              | nan    | nan            | Tulean Dispatch 5.2  | nan
Ishihara  | Peggy      | nan         | nan  | nan               | Gila River | Chicago, Illinois        | Factory               | nan    | nan            | Tulean Dispatch 5.2  | nan
Sumida    | George     | nan         | nan  | nan               | Tule Lake  | Ann Arbor, Michigan      | Gas Station Attendant | nan    | nan            | Tulean Dispatch 5.2  | nan
Yanagawa  | Josie      | S.          | nan  | nan               | Tule Lake  | Camp Robinson, Arkansas  | nan                   | nan    | nan            | Tulean Dispatch 5.2  | nan
Furushiro | Midori     | nan         | nan  | March 22, 1943    | Tule Lake  | Caldwell, Idaho          | nan                   | nan    | nan            | Tulean Dispatch 5.2  | nan
Yamagiwa  | Yuri       | nan         | nan  | nan               | Tule Lake  | Palatine, Illinois       | nan                   | nan    | nan            | Tulean Dispatch 5.2  | nan
... (16 rows omitted)

In [17]:
wra.where('RELOCATION PROJECT', 'Tule Lake').where('LAST NAME', 'YOSHIHARA').where('FIRST NAME', 'TAKEO')

Unnamed: 0 | LAST NAME | FIRST NAME | MIDDLE INITIAL | RELOCATION PROJECT | ASSEMBLY CENTER | LAST PERMANENT ADDRESS | LAST PERMANENT ADDRESS STATE | LAST PERMANENT ADDRESS COUNTY | LAST PERMANENT ADDRESS POPULATION DENSITY | BIRTH PLACE OF PARENTS     | FATHERS OCCUPATION IN U.S.          | FATHERS OCCUPATION ABROAD  | TOTAL YEARS OF SCHOOLING IN JAPAN | YEARS OF SCHOOLING IN JAPAN | EDUCATIONAL DEGREES                     | YEAR OF FIRST ARRIVAL IN TERRITORIAL U.S. | TOTAL LENGTH OF TIME IN JAPAN | NUMBER OF TIMES IN JAPAN    | AGE AT TIME IN JAPAN | MILITARY AND NAVAL SERVICE, PUBLIC ASSISTANCE AND PENSIONS, PHYSICAL DEFECTS | INDIVIDUAL NUMBER | SEX AND MARITAL STATUS | RACE OF INDIVIDUAL AND SPOUSE  | YEAR OF BIRTH | BIRTH PLACE                 | ALIEN REGISTRATION NUMBER, SOCIAL SECURITY NUMBER AND JAPANESE LANGUAGE SCHOOL | HIGHEST GRADE COMPLETED OR GRADE ATTENDING | LANGUAGE                                         | RELIGION     | PRIMARY OCCUPATION | SECONDARY OCCUPATION | TERTIARY OCCUPATION | POTENTIAL OCCUPATION 1     | POTENTIAL OCCUPATION 2              | FILE NUMBER | BLANK 1
957        | YOSHIHARA | TAKEO      | nan            | Tule Lake          | Pinedale        | TACOMA, WASHINGTON     | Pacific States - Washington  | PIERCE                        | 25,000 - 999,999                          | Father=Japan, Mother=Japan | MANAGERIAL & OFFICIAL (EXCEPT FARM) | BLANK, UNKNOWN, NONE, DASH | NONE                              | NONE                        | BACHELORS-SOCIAL SCIENCES & MATHEMATICS | --                                        | NONE                          | NONE-- NOT ATTENDING SCHOOL | NEVER IN JAPAN       | MASKED VALUE                                                                 | 19414A            | MALE SINGLE            | INDIVIDUAL-JAPANESE; NO SPOUSE | 18            | Pacific States - Washington | HAS NEITHER A.R. NOR S. S. NUMBER AND HAS ATTENDED JAPANESE LANGUAGE SCHOOL    | COLLEGE 4 IN U.S.                          | JAPANESE SPEAKING; ENGLISH SPEAK, READ AND WRITE | MASKED VALUE | Retail Managers    | nan                  | nan                 | Social and Welfare Workers | Buyers and Department Heads, Stores | 414012      | 31171

In [9]:
def find_names(source, dest):
    for row in source.rows:
        print(row[1])
find_names(dispatch, wra)

Takeo
Noboru
Fumi
Robert
Eideo
Peggy
George
Josie
Midori
Yuri
Sumi
Joe
Yuri
Toko
Tom
Mrs. Tom
Mrs. Chiyo
Patsy
Minnie
Sumi
Esther
George
Mike
Ray
Don
Jean

In [39]:
dispatch = pd.read_csv('temp.csv')
wra = pd.read_csv('../WRA/combined.csv')

/opt/conda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [40]:
# Uppercase the columns of interest
dispatch = dispatch.rename(columns={'Last Name': 'LAST NAME', 'First Name': 'FIRST NAME', 'Camp Name':'RELOCATION PROJECT'})

In [43]:
# dispatch['LAST NAME'] = map(lambda x: x.upper(), dispatch['LAST NAME'])
# dispatch['FIRST NAME'] = map(lambda x: x.upper(), dispatch['FIRST NAME'])
# for name in dispatch['FIRST NAME']:
#     print(name.upper())
for col_name in ['FIRST NAME', 'LAST NAME']:
    dispatch[col_name] = dispatch[col_name].apply((lambda x: x.upper()))

dispatch
#map(lambda x: x.upper(), dispatch['FIRST NAME'])

,LAST NAME,FIRST NAME,Middle Name,Age,Date of Departure,RELOCATION PROJECT,Destination,Occupation,Gender,Marital Status,Source,Notes
0,YOSHIHARA,TAKEO,NaN,NaN,NaN,Tule Lake,"Rupert, Idaho",NaN,NaN,NaN,Tulean Dispatch 5.1b,Also mentioned in TD 5.4
1,HONDA,NOBORU,NaN,NaN,NaN,Tule Lake,"New York, New York",Student,NaN,NaN,Tulean Dispatch 5.2,Rochdale Institute
2,SAKAMOTO,FUMI,NaN,NaN,NaN,Tule Lake,"New York, New York",Student,NaN,NaN,Tulean Dispatch 5.2,Rochdale Institute; a letter of hers is convey...
3,OTA,ROBERT,NaN,NaN,NaN,Tule Lake,"New York, New York",Student,NaN,NaN,Tulean Dispatch 5.2,Rochdale Institute
4,KAJIKAWA,EIDEO,NaN,NaN,NaN,Tule Lake,"Camp Shelby, Mississippi",Military,NaN,NaN,Tulean Dispatch 5.2,NaN
5,ISHIHARA,PEGGY,NaN,NaN,NaN,Gila River,"Chicago, Illinois",Factory,NaN,NaN,Tulean Dispatch 5.2,NaN
6,SUMIDA,GEORGE,NaN,NaN,NaN,Tule Lake,"Ann Arbor, Michigan",Gas Station Attendant,NaN,NaN,Tulean Dispatch 5.2,NaN
7,YANAGAWA,JOSIE,S.,NaN,NaN,Tule Lake,"Camp Robinson, Arkansas",NaN,NaN,NaN,Tulean Dispatch 5.2,NaN
8,FURUSHIRO,MIDORI,NaN,NaN,"March 22, 1943",Tule Lake,"Caldwell, Idaho",NaN,NaN,NaN,Tulean Dispatch 5.2,NaN
9,YAMAGIWA,YURI,NaN,NaN,NaN,Tule Lake,"Palatine, Illinois",NaN,NaN,NaN,Tulean Dispatch 5.2,NaN
10,HAJI,SUMI,NaN,NaN,NaN,Tule Lake,"Washington, D.C.",NaN,NaN,NaN,Tulean Dispatch 5.2,NaN
11,OKAMOTO,JOE,NaN,NaN,NaN,Tule Lake,"Omaha, Nebraska",NaN,NaN,NaN,Tulean Dispatch 5.2,NaN
12,KOBUKATA,YURI,NaN,NaN,"March 24, 1943",Tule Lake,"Minneapolis, Minnesota",NaN,NaN,NaN,Tulean Dispatch 5.3,NaN
13,FUJII,TOKO,NaN,NaN,NaN,Tule Lake,NaN,NaN,NaN,NaN,Tulean Dispatch 5.3,NaN
14,OGURA,TOM,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,Tulean Dispatch 5.4,NaN
15,OGURA,MRS. TOM,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,Tulean Dispatch 5.4,"Wife of Tom Ogura, first name not given; Ogura..."
16,OGURA,MRS. CHIYO,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,Tulean Dispatch 5.4,Ogura family; not sure if Chiyo is her husband...
17,OGURA,PATSY,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,Tulean Dispatch 5.4,Ogura family
18,OGURA,MINNIE,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,Tulean Dispatch 5.4,Ogura family
19,OGURA,SUMI,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,Tulean Dispatch 5.4,Ogura family
20,OGURA,ESTHER,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,Tulean Dispatch 5.4,Ogura family
21,NOMURA,GEORGE,NaN,NaN,NaN,Tule Lake,"Peoria, Illinois","Boilerman, Hospital",NaN,NaN,Tulean Dispatch 5.8,NaN
22,HIRAHARA,MIKE,NaN,NaN,NaN,Tule Lake,"Peoria, Illinois","Laundryman, Hospital",NaN,NaN,Tulean Dispatch 5.8,NaN
23,YASUI,RAY,"""Choppie""",NaN,NaN,Tule Lake,"Great Falls, Montana",Sugar Beet Farmer,NaN,NaN,Tulean Dispatch 5.8,Mentioned as a part of 49 farmers
24,NORO,DON,NaN,NaN,NaN,Tule Lake,"Great Falls, Montana",Sugar Beet Farmer,NaN,NaN,Tulean Dispatch 5.8,Mentioned as a part of 49 farmers
25,AKITA,JEAN,NaN,NaN,NaN,Tule Lake,"Great Falls, Montana",Sugar Beet Farmer,NaN,NaN,Tulean Dispatch 5.8,Mentioned as a part of 49 farmers

In [44]:
merged = pd.merge(dispatch, wra, on = ['LAST NAME', 'FIRST NAME', 'RELOCATION PROJECT'])
merged

,LAST NAME,FIRST NAME,Middle Name,Age,Date of Departure,RELOCATION PROJECT,Destination,Occupation,Gender,Marital Status,...,HIGHEST GRADE COMPLETED OR GRADE ATTENDING,LANGUAGE,RELIGION,PRIMARY OCCUPATION,SECONDARY OCCUPATION,TERTIARY OCCUPATION,POTENTIAL OCCUPATION 1,POTENTIAL OCCUPATION 2,FILE NUMBER,BLANK 1
0,YOSHIHARA,TAKEO,NaN,NaN,NaN,Tule Lake,"Rupert, Idaho",NaN,NaN,NaN,...,COLLEGE 4 IN U.S.,"JAPANESE SPEAKING; ENGLISH SPEAK, READ AND WRITE",MASKED VALUE,Retail Managers,NaN,NaN,Social and Welfare Workers,"Buyers and Department Heads, Stores",414012,31171
1,HONDA,NOBORU,NaN,NaN,NaN,Tule Lake,"New York, New York",Student,NaN,NaN,...,ELEMENTARY 8 IN U.S.,"JAPANESE SPEAK, WRITE, READ; ENGLISH SPEAK, RE...",MASKED VALUE,"Salesmen, Insurance","Managers and Officials, N.E.C.",Farm Managers and Foremen,Skilled Carpenters,NaN,414345,51081
2,SAKAMOTO,FUMI,NaN,NaN,NaN,Tule Lake,"New York, New York",Student,NaN,NaN,...,COLLEGE 2 IN U.S.,"JAPANESE SPEAKING; ENGLISH SPEAK, READ AND WRITE",MASKED VALUE,Retail Managers,Designers,Personal Service Occupations,"Barbers, Beauticians, and Manicurists","Cooks, Domestic",407623,41151
3,OTA,ROBERT,NaN,NaN,NaN,Tule Lake,"New York, New York",Student,NaN,NaN,...,COLLEGE 4 IN U.S.,"JAPANESE SPEAKING; ENGLISH SPEAK, READ AND WRITE",MASKED VALUE,Crop Specialty Farmers,Wholesale Managers,Post Office Clerks,Managerial and Official Occupations,NaN,400632,31171
4,SUMIDA,GEORGE,NaN,NaN,NaN,Tule Lake,"Ann Arbor, Michigan",Gas Station Attendant,NaN,NaN,...,HIGH SCHOOL 1 IN U.S.,"JAPANESE SPEAK, WRITE, READ; ENGLISH SPEAK, RE...",MASKED VALUE,"Waiters and Waitresses, Except Private Family","Farm Hands, Fruit",NaN,Musicians and Teachers of Music,"Semiprofessional Occupations, N.E.C.",405330,21092
5,SUMIDA,GEORGE,NaN,NaN,NaN,Tule Lake,"Ann Arbor, Michigan",Gas Station Attendant,NaN,NaN,...,HIGH SCHOOL 4 IN U.S.,"JAPANESE SPEAKING; ENGLISH SPEAK, READ AND WRITE",MASKED VALUE,Boarding-House and Lodging-House Keepers,Sales Clerks,Ship Stewards,"Skilled Mechanics and Repairmen, Motor Vehicle",Fishermen and Oystermen,408396,51121
6,YANAGAWA,JOSIE,S.,NaN,NaN,Tule Lake,"Camp Robinson, Arkansas",NaN,NaN,NaN,...,HIGH SCHOOL 4 IN U.S.,"JAPANESE SPEAK, WRITE, READ; ENGLISH SPEAK, RE...",MASKED VALUE,Sales Clerks,"Maids, General",NaN,Semiskilled Occupations in Manufacture of Knit...,NaN,412640,31121
7,FURUSHIRO,MIDORI,NaN,NaN,"March 22, 1943",Tule Lake,"Caldwell, Idaho",NaN,NaN,NaN,...,HIGH SCHOOL 4 IN U.S.,"JAPANESE SPEAKING; ENGLISH SPEAK, READ AND WRITE",MASKED VALUE,Stenographer and Typists,"Cooks, Domestic","Maids and Housemen, Hotels, Restaurants, Etc.",Semiskilled Dressmakers and Seamstresses,Unskilled Occupations in Manufacture of Leathe...,400663,41121
8,YAMAGIWA,YURI,NaN,NaN,NaN,Tule Lake,"Palatine, Illinois",NaN,NaN,NaN,...,HIGH SCHOOL 4 IN U.S.,"JAPANESE SPEAK, WRITE, READ; ENGLISH SPEAK, RE...",MASKED VALUE,Farm Managers and Foremen,"Semiskilled Chauffeurs and Drivers, Bus, Taxi,...",NaN,Semiskilled Dressmakers and Seamstresses,Social and Welfare Workers,413598,31121
9,OKAMOTO,JOE,NaN,NaN,NaN,Tule Lake,"Omaha, Nebraska",NaN,NaN,NaN,...,HIGH SCHOOL 4 IN U.S.,"JAPANESE SPEAKING; ENGLISH SPEAK, READ & WRITE...",MASKED VALUE,"Semiskilled Chauffeurs and Drivers, Bus, Taxi,...",Semiskilled Apprentices to Other Trades,"Skilled Mechanics and Repairmen, Motor Vehicle",NaN,NaN,405361,41121
10,KOBUKATA,YURI,NaN,NaN,"March 24, 1943",Tule Lake,"Minneapolis, Minnesota",NaN,NaN,NaN,...,COLLEGE 1 IN U.S.,"ENGLISH SPEAK, WRITE, READ ONLY",MASKED VALUE,"Maids, General",Undefined Code,NaN,Semiskilled Dressmakers and Seamstresses,Stenographer and Typists,413159,21142
11,OGURA,PATSY,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,...,NO SCHOOLING OR KINDERGARTEN IN EITHER JAPAN O...,NOT APPLICABLE (11 YRS. AND UNDER),MASKED VALUE,NaN,NaN,NaN,NaN,NaN,403357,13001
12,OGURA,MINNIE,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,...,HIGH SCHOOL 4 IN U.S.,"JAPANESE SPEAK, WRITE, READ; ENGLISH SPEAK, RE...",MASKED VALUE,Sales Clerks,"Maids, General","Farm Hands, Vegetable",Musicians and Teachers of Music,Semiskilled Dressmakers and Seamstresses,403351,31122
13,OGURA,SUMI,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,...,COLLEGE 1 IN U.S.,"JAPANESE SPEAK, WRITE, READ; ENGLISH SPEAK, RE...",MASKED VALUE,"Farm Hands, Vegetable",Sales Clerks,Skilled Dressmakers and Seamstresses,Musicians and Teachers of Music,Skillled Occupations in Manufacture of Knit Goods,403352,31142
14,OGURA,ESTHER,NaN,NaN,NaN,Tule Lake,Eastern Oregon,NaN,NaN,NaN,...,ELEMENTARY 5 IN U.S.,NOT APPLICABLE (11 YRS. AND UNDER),MASKED VALUE,NaN,NaN,NaN,Musicians and Teachers of Music,NaN,403354,11051
15,NOMURA,GEORGE,NaN,NaN,NaN,Tule Lake,"Peoria, Illinois","Boilerman, Hospital",NaN,NaN,...,HIGH SCHOOL 4 IN U.S.,"JAPANESE SPEAKING; ENGLISH SPEAK, READ & WRITE...",MASKED VALUE,Truck Farmers,NaN,NaN,"Semiskilled Chauffeurs and Drivers, Bus, Taxi,...",Library Assistants and Attendants,413634,41122
16,NOMURA,GEORGE,NaN,NaN,NaN,Tule Lake,"Peoria, Illinois","Boilerman, Hospital",NaN,NaN,...,HIGH SCHOOL 1 IN U.S.,"JAPANESE SPEAK, WRITE, READ; ENGLISH SPEAK, RE...",MASKED VALUE,"Semiskilled Occupations in Laundering, Cleanin...","Bookkeepers and Cashiers, Except Bank Cashiers","Semiskilled Sawmill Occupations, N.E.C.",Skilled Carpenters,NaN,414573,51092
17,HIRAHARA,MIKE,NaN,NaN,NaN,Tule Lake,"Peoria, Illinois","Laundryman, Hospital",NaN,NaN,...,HIGH SCHOOL 4 IN U.S.,"ENGLISH SPEAK, WRITE, READ ONLY",MASKED VALUE,"Semiskilled Chauffeurs and Drivers, Bus, Taxi,...","Skilled Inspectors, Scalers, and Graders, Logs...",NaN,"Athletes, Sports Instructors, and Sports Offic...",Musicians and Teachers of Music,400665,31121
18,YASUI,RAY,"""Choppie""",NaN,NaN,Tule Lake,"Great Falls, Montana",Sugar Beet Farmer,NaN,NaN,...,COLLEGE 2 IN U.S.,"JAPANESE SPEAKING; ENGLISH SPEAK, READ AND WRITE",MASKED VALUE,Fruit Farmers,NaN,NaN,"Inspectors, Public Service, N.E.C.",Fishermen and Oystermen,404625,41152
19,AKITA,JEAN,NaN,NaN,NaN,Tule Lake,"Great Falls, Montana",Sugar Beet Farmer,NaN,NaN,...,COLLEGE 2 IN U.S.,"ENGLISH SPEAK, WRITE, READ ONLY",MASKED VALUE,Sales Clerks,Managerial and Official Occupations,NaN,"Professional Occupations, N.E.C.",Skilled Dressmakers and Seamstresses,412874,31151

In [ ]:
def check_duplicate(tabl, first_name, last_name):
    query = tabl[tabl['FIRST NAME'] == first_name and tabl['LAST NAME'] == last_name]
    num_rows = len(query.index)
    print('{} {} in {} rows'.format(first_name, last_name, num_rows))
apply()